bokeh==2.2.3
django==3.1.2
gunicorn==20.1.0
numpy==1.22.0
pandas==1.1.3
twisted[tls,http2]

# neither of these are direct dependencies, but without specifying them, the app breaks
# it seems that jinja2 (required by django) did not pin its markupsafe dependency
jinja2==2.11.2
markupsafe==1.1.1
