/************/
/* General */
:root {
  --off-white-soft: #f7f7f7;
  --font-large: 1.3rem;
  --font-extra-large: 1.6rem;
  --font-color-gas: green;
  --icon-shadow: -1px 2px 3px rgba(0,0,0,0.3);
  --icon-shadow-hover: 0px 4px 6px #99cae2;
  --text-shadow: -1px 2px 3px #99cae2; /* @TODO try a darker shade of blue */
  --main-text-color: #1F2232;
  --header-text-color: #312509;
}
body {
  line-height: 1.2;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
  /* @GRADIENTS */
  /* background: linear-gradient(165deg, #477f3c 0%, #FDFCDC 50%); */

  /* background: #159957;
  background: -webkit-linear-gradient(to right, #159957, #155799);
  background: linear-gradient(to right, #159957, #155799); */

  background: #67B26F;
  background: -webkit-linear-gradient(165deg, #4ca2cd, #67B26F); 
  background: linear-gradient(165deg, #4ca2cd, #67B26F);
  
  /* END GRADIENTS */

  color: var(--main-text-color);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  color: var(--header-text-color);
  text-align: center;
  filter: drop-shadow(var(--text-shadow));

}
p {
  max-width: 70ch;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* END General */
/***************/



/********/
/* Nav */
nav {
  padding: 10px 0 0 0;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #67B26F;
  scrollbar-color: gray transparent;
  border-right: 2px solid green;
}
#project-logo-main {
  filter: drop-shadow(var(--icon-shadow));
  width: 60px;
  height: 60px;
}
#project-logo-main:hover {
  filter: drop-shadow(var(--icon-shadow-hover));
}
/* END Nav */
/***********/



/***********/
/* Header */

header {
  margin-left: 400px;
  padding: 0 10px 0 10px;
}

h1 {
  margin: 45px auto;
  font-size: 3rem;
  /* @SHADOW old */
  /* filter: drop-shadow(var(--icon-shadow)); */
}
h1 a, h1 a:hover {
  text-decoration: none;
  color: var(--main-text-color);
}
.header-paragraph {
  font-size: var(--font-large);
  margin: 0 auto 45px auto;
  padding: 0 auto 45px auto;
  line-height: 1.7;
  align-self: flex-end;
}
/* END Header */
/***********/



/*************/
/* Homepage */
#homepage-cat-list {
  list-style-type: none;
  padding-left: 0;
}
#homepage-cat-list a {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
}
.homepage-cat-icon {
  width: 40px;
  height: 40px;
  filter: drop-shadow(var(--icon-shadow));
}
.homepage-cat-icon-caption:hover + .homepage-cat-icon , .homepage-cat-icon:hover {
  filter: drop-shadow(var(--icon-shadow-hover));
}
figcaption {
  white-space: nowrap;
}

figure a {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
}
/* END Homepage */
/*************/



/****************/
/* Chart Pages */
/* @TODO get back into this */
main {
  background-color: transparent;
  margin-left: 400px;
  padding: 20px;
  padding: 0 auto;
}
/* END Chart Pages */
/****************/



/**********/
/* Footer */
footer {
  /* background: rgba(0,0,0,0.1); */
  margin-top: 3%;
  margin-left: 400px;
  padding: 20px;
}
/**********/
/* END Footer */



/**********************/
/* @TODO move into separate, width-dependent stylesheets */
/**********************/
@media screen and (max-width: 768px) {
  body {
    padding: 0px;
    margin: 0px;
  }
}
