/************/
/* General */
:root {
  --off-white-soft: #f7f7f7;
  --font-large: 1.3rem;
  --font-extra-large: 1.6rem;
  --font-small-size: 0.9rem;
  --font-color-gas: green;
  --icon-shadow: -1px 2px 3px rgba(0,0,0,0.3);
  --icon-shadow-hover: 0px 4px 6px #99cae2;
  --text-shadow: -1px 2px 3px #99cae2; /* @TODO try a darker shade of blue */
  --main-text-color: #1F2232;
  --header-text-color: #312509;
}
body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "nav header"
    "nav main"
    "nav footer";
  line-height: 1.2;
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  
  /* @GRADIENTS */
  /* background: linear-gradient(165deg, #477f3c 0%, #FDFCDC 50%); */

  /* background: #159957;
  background: -webkit-linear-gradient(to right, #159957, #155799);
  background: linear-gradient(to right, #159957, #155799); */

  background: #67B26F;
  background: -webkit-linear-gradient(165deg, #4ca2cd, #67B26F); 
  background: linear-gradient(165deg, #4ca2cd, #67B26F);
  
  /* END GRADIENTS */

  color: var(--main-text-color);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  color: var(--header-text-color);
  text-align: center;
  filter: drop-shadow(var(--text-shadow));
}

p {
  max-width: 70ch;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* END General */
/***************/


/********/
/* Nav */
nav {
  overflow-y: auto;
  background: #67B26F;
  scrollbar-color: gray transparent;
  border-right: 2px solid green;
  grid-area: nav;
  min-width: 400px;
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
}
#project-logo-main {
  filter: drop-shadow(var(--icon-shadow));
  width: 60px;
  height: 60px;
}
#project-logo-main:hover {
  filter: drop-shadow(var(--icon-shadow-hover));
}
#nav-cat-list {
  list-style-type: none;
  padding-left: 0;
  padding-top: 15px;
}
#nav-cat-list a {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
}
.nav-cat-icon {
  width: 40px;
  height: 40px;
  filter: drop-shadow(var(--icon-shadow));
}
.nav-cat-icon-caption:hover + .nav-cat-icon , .nav-cat-icon:hover {
  filter: drop-shadow(var(--icon-shadow-hover));
}

figcaption {
  white-space: nowrap;
}

figure a {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
}

/* END Nav */
/***********/


/***********/
/* Header */

header {
  grid-area: header;
  margin: 0 auto;
  max-width: 650px;
}

h1 {
  margin: 45px auto;
  font-size: 3rem;
  /* @SHADOW old */
  /* filter: drop-shadow(var(--icon-shadow)); */
}
h1 a, h1 a:hover {
  text-decoration: none;
  color: var(--main-text-color);
}

header .text {
  max-width: 65ch;
  margin: 0 auto;
  font-size: var(--font-large);
  line-height: 1.7;
}

header .endnotes {
  line-height 1;
  font-size: var(--font-small-size);
}
/* END Header */
/***********/


/****************/
/* Chart Pages */
/* @TODO get back into this */
main {
  grid-area: main;
  width: inherit;
  padding: 50px 25px 50px 25px;
}

.chart {
  margin: 15px;
  padding: 15px;
}

.center {
  margin: 0 auto;
}

/* END Chart Pages */
/****************/


/**********/
/* Footer */
footer {
  /* background: rgba(0,0,0,0.1); */
  margin-top: 3%;
  padding: 20px;
  grid-area: footer;
}
/**********/
/* END Footer */



/**********************/
/* @TODO move into separate, width-dependent stylesheets */
/**********************/
@media screen and (max-width: 768px) {
  body {
    padding: 0px;
    margin: 0px;
  }
}
