/************/
/* General */
:root {
  --off-white-soft: #f7f7f7;
  --lightgray: hsl(0, 0, 30);
  --font-large: 1.2rem;
  --font-extra-large: 1.4rem;
}
body {
  font-size: 16px;
  margin: 0;
  padding: 10px 0px 0px 0px;
  background-color: var(--off-white-soft);
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}
nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: green;
  padding: 15px;
  color: var(--off-white-soft);
}
header {
  padding-bottom: 10px;
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  max-width: 70ch;
}
main {
  background-color: transparent;
  display: grid;
  grid-area: main;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "left right";
  padding-bottom: 20px;
}
main .left {
  grid-area: left;
  background-color: white;
  padding: 10px;
}
main .right {
  grid-area: right;
  background-color: var(--light-gray);
  padding: 10px;
}
/* END General */
/***************/



/*************/
/* Homepage */
.homepage-intro-text {
  font-size: var(--font-large);
  margin: 0 auto;
}
/* Homepage */
/*************/



/****************/
/* Chart Pages */

/* End Chart Pages */
/****************/



/* Responsive layout */
@media screen and (max-width: 768px) {
  body {
    padding: 0px;
    margin: 0px;
    grid-template-columns: auto auto;
    grid-template-areas: "header header" "main main" "footer footer";
  }
  header {
    margin-left: 20px;
    margin-right: 20px;
    grid-area: header;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    grid-template-areas: "search nav" "logo logo";
  }
  main  {
    grid-template-columns: 1fr;
    grid-template-areas: "left" "right";
  }
  footer img {
    width: 125px;
  }
}