{% extends 'main/base.html' %}

{% block header_intro %}

  <h3>Sector 6: Aviation - 5.2%</h3>

  <p class="header-paragraph">
  Aviation refers to both commercial and personal aircraft flown domestically and internationally. There are 5 commercial airports in Greater Philadelphia, most prominently PHL, and several other airports for smaller planes. The aviation sector accounted for just over 5% of regional greenhouse gas emissions in 2015. 
  </p>

  <p class="header-paragraph">
  Unlike most other vehicles, efforts to electrify aircraft have not yet had much success. However, some airports have begun using biofuels for some aircraft. According to biofuel suppliers, sustainable aviation fuel can reduce the carbon footprint of airlines by up to 80%. Synthetic fuels made from combining hydrogen and carbon dioxide may also be used in conjunction with carbon capture are another decarbonized alternative. 
  </p>

  <p class="header-paragraph">
  Due to the lack of electrification and limited availability of biofuels and synthetic fuels for aircraft, efforts to decarbonize this sector mainly rely on:
   Reducing air travel, mainly by encouraging remote options and less carbon-intensive modes, such as inter-city rail. 
  </p>

  <p class="header-paragraph">
  Slide the percent change in air travel to see the impact air travel has on regional GHG emissions. 
  </p>

  <p class="header-paragraph">
  As air travel decreases to decrease GHG emissions, passenger rail services become a less carbon-intensive option to absorb long-distance travel demand. Visit the Rail section to see how increases in inter-city passenger rail service contribute to regional GHG emissions.
  </p>

  <p class="header-paragraph">
  Reducing air travel can have a positive benefit on air quality, especially in communities surrounding the region’s airports. Shifts to other forms of long-distance transportation, such as inter-city rail, can also help improve the speed and reliability of those services as they receive more funds from tickets.
  </p>

  <p class="header-paragraph">
  Shifting to biofuels for jet fuel also has benefits, particularly in creating jobs in the biofuel industry, and could improve air quality in areas surrounding airports.  Synthetic fuels provide an opportunity for further jobs and further air quality benefits. 
  </p>

  <p class="header-paragraph">
  Visit DVRPC’s Aviation Planning webpage to learn more about how DVRPC coordinates with the region’s airports.
  </p>

{% endblock %}
