{% extends 'main/base.html' %}

{% block header_intro %}

  <h3>Sector 6: Aviation</h3>

  <p>Aviation refers to both commercial and personal aircraft flown domestically and internationally, both for passengers and goods. There are five commercial airports in Greater Philadelphia, the largest being Philadelphia International Airport (PHL). Four other airports serve smaller planes and general aviation. The aviation sector accounted for just over 5% of regional greenhouse gas emissions in 2015.</p>

  <p>Unlike most other vehicles, efforts to electrify aircraft are still in the experimental phase. However, some airports have begun using biofuels for some aircraft. According to biofuel suppliers, sustainable aviation fuel can reduce the carbon footprint of airlines by up to 80%. Synthetic fuels made from combining hydrogen and carbon dioxide used in conjunction with carbon capture are another decarbonized alternative.</p>

  <p>Due to the lack of electrification and limited availability of biofuels and synthetic fuels for aircraft, efforts to decarbonize this sector mainly rely on:</p>

  <ol>
    <li>Reducing air travel, mainly by encouraging remote options and less carbon-intensive modes, such as inter-city rail.</li>
    <li>Reduce air transport by shifting goods movement to lower carbon modes of transportation, such as freight rail.</li>
  </ol>

  <p>Slide the percent change in air travel to see the impact air travel has on regional GHG emissions.</p>

  <p>As air travel decreases, passenger rail services become a less carbon-intensive option to absorb long-distance travel demand. Similarly, decreasing air transport of goods may lead to higher use of freight rail for goods movement. Visit the Rail section to see how increases in inter-city passenger rail service and freight rail for goods movement contribute to regional GHG emissions.</p>

  <p>Reducing air travel can have a positive benefit on air quality, especially in communities surrounding the region’s airports. Shifts to other forms of long-distance transportation, such as inter-city rail, can also help improve the speed and reliability of those services as they receive more funds from tickets.</p>

  <p>Shifting to biofuels for jet fuel also has benefits, particularly in creating jobs in the biofuel industry, and could improve air quality in areas surrounding airports.  Synthetic fuels provide an opportunity for further jobs and further air quality benefits.</p>

  <p>Visit DVRPC’s <a href="https://www.dvrpc.org/aviation">Aviation Planning webpage</a> to learn more about how DVRPC coordinates with the region’s airports.</p>

{% endblock %}
