{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GHG Calculator</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.css" rel="stylesheet" type="text/css">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.css" rel=”stylesheet" type="text/css">
  <!-- @TODO create breakpoint stylesheets -->
  <link rel="stylesheet" href="{% static 'main/style.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
  <!-- @JS: either inline js functions into specific templates or create a js file in static and link to it here like normal -->
</head>
<body>
    <nav>
        <a href="http://127.0.0.1:8000/">
          <img src="../static/img/logo-main.svg" alt="Project logo" id="project-logo-main" />
        </a>
        <!-- <img src="" alt="DVRPC logo" /> -->
    </nav>

    <header>
      <h1>DVRPC Greenhouse Gas Calculator</h1>
    </header>

    <p class="header-paragraph">Geospatial inventory bicycle yes in my back yard public works department general plan Levittown industrial parklet transferable development right. School zone signage origination fee 8-80. Ordinance suburbanization traffic mixed use legal crosswalk road hierarchy parking meter ground floor retail medina industrialized city esplanade commercial. Affordable housing transit market analysis travel shed redevelopment agencies, rising property values ordinance external inventory overpass.</p>
    
    <h2>click an icon to calculate emission scenarios from the following energy sources:</h2>
    <ul id="homepage-cat-list">
      <li>
        <figure>
          <a href="http://127.0.0.1:8000/population/">
            <figcaption class="homepage-cat-icon-caption">population</figcaption>
            <img src="../static/img/population.svg" alt="icon" class="homepage-cat-icon" />
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="http://127.0.0.1:8000/res_stationary/">
            <figcaption class="homepage-cat-icon-caption">residential stationary</figcaption>
            <img src="../static/img/res-stationary.svg" alt="icon" class="homepage-cat-icon" />
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="http://127.0.0.1:8000/ci_stationary/">
            <figcaption class="homepage-cat-icon-caption">ci stationary</figcaption>
            <img src="../static/img/ci-stationary.svg" alt="icon" class="homepage-cat-icon" />
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="http://127.0.0.1:8000/mobile_highway/">
            <figcaption class="homepage-cat-icon-caption">mobile highway</figcaption>
            <img src="../static/img/mobile-highway.svg" alt="icon" class="homepage-cat-icon" />
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="http://127.0.0.1:8000/mobile_transit/">
            <figcaption class="homepage-cat-icon-caption">mobile transit</figcaption>
            <img src="../static/img/mobile-transit.svg" alt="icon" class="homepage-cat-icon" />
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="http://127.0.0.1:8000/mobile_aviation/">
            <figcaption class="homepage-cat-icon-caption">mobile aviation</figcaption>
            <img src="../static/img/mobile-aviation.svg" alt="icon" class="homepage-cat-icon" />
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="http://127.0.0.1:8000/mobile_other/">
            <figcaption class="homepage-cat-icon-caption">mobile other</figcaption>
            <img src="../static/img/mobile-other.svg" alt="icon" class="homepage-cat-icon" />
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="http://127.0.0.1:8000/non_energy/">
            <figcaption class="homepage-cat-icon-caption">non energy</figcaption>
            <img src="../static/img/non-energy.svg" alt="icon" class="homepage-cat-icon" />
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="http://127.0.0.1:8000/grid_mix/">
            <figcaption class="homepage-cat-icon-caption">grid mix</figcaption>
            <img src="../static/img/grid-mix.svg" alt="icon" class="homepage-cat-icon" />
          </a>
        </figure>
      </li>
    </ul>
  <main>
    {% block main %}
      {{ script|safe }}
    {% endblock %}
  </main>
  <footer>
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </footer>
</body>
</html>
