{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pathways to Greenhouse Gas Reductions in the Philadelphia Metropolitan Area</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="">
  <!-- @TODO create breakpoint stylesheets -->
  <link rel="stylesheet" href="{% static 'main/style.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
  <!-- @JS: either inline js functions into specific templates or create a js file in static and link to it here like normal -->
</head>
<body>
  <nav>
    <!-- <img src="" alt="DVRPC logo" /> -->
    <ul id="nav-cat-list">
      <li>
        <figure>
        <a href="{% url 'index' %}">
          <img src="{% static 'img/logo-main.svg' %}" alt="Project logo" class="nav-cat-icon" />
          <figcaption class="nav-cat-icon-caption">Home</figcaption>
        </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="{% url 'pop' %}">
            <img src="{% static 'img/population.svg' %}" alt="icon" class="nav-cat-icon" />
            <figcaption class="nav-cat-icon-caption">Population and Development Patterns</figcaption>
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="{% url 'grid' %}">
            <img src="{% static 'img/grid-mix.svg' %}" alt="icon" class="nav-cat-icon" />
            <figcaption class="nav-cat-icon-caption">Electricity Grid</figcaption>
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="{% url 'res' %}">
            <img src="{% static 'img/res-stationary.svg' %}" alt="icon" class="nav-cat-icon" />
            <figcaption class="nav-cat-icon-caption">Residential Stationary Energy</figcaption>
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="{% url 'non_res' %}">
            <img src="{% static 'img/ci-stationary.svg' %}" alt="icon" class="nav-cat-icon" />
            <figcaption class="nav-cat-icon-caption">Non-Residential Stationary Energy</figcaption>
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="{% url 'on_road' %}">
            <img src="{% static 'img/mobile-highway.svg' %}" alt="icon" class="nav-cat-icon" />
            <figcaption class="nav-cat-icon-caption">On-Road Motor Vehicles</figcaption>
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="{% url 'aviation' %}">
            <img src="{% static 'img/mobile-aviation.svg' %}" alt="icon" class="nav-cat-icon" />
            <figcaption class="nav-cat-icon-caption">Aviation</figcaption>
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="{% url 'rail' %}">
            <img src="{% static 'img/mobile-transit.svg' %}" alt="icon" class="nav-cat-icon" />
            <figcaption class="nav-cat-icon-caption">Rail</figcaption>
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="{% url 'other' %}">
            <img src="{% static 'img/mobile-other.svg' %}" alt="icon" class="nav-cat-icon" />
            <figcaption class="nav-cat-icon-caption">Other Mobile Energy</figcaption>
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="{% url 'non_energy' %}">
            <img src="{% static 'img/non-energy.svg' %}" alt="icon" class="nav-cat-icon" />
            <figcaption class="nav-cat-icon-caption">Non-Energy</figcaption>
          </a>
        </figure>
      </li>
      <li>
        <figure>
          <a href="{% url 'seq' %}">
            <img src="{% static 'img/non-energy.svg' %}" alt="icon" class="nav-cat-icon" />
            <figcaption class="nav-cat-icon-caption">Carbon Sequestration & Storage</figcaption>
          </a>
        </figure>
      </li>
    </ul>
  </nav>

  <header>
    <h1><a href="{% url 'index' %}">Pathways to Greenhouse Gas Reductions in the Philadelphia Metropolitan Area</a></h1>
    <div class="text">
      {% block header_intro %}

      {% endblock %}
      <div class="endnotes">
        {% block endnotes %}

        {% endblock %}
      </div>
  </div>
  </header>
    
  <main style="margin: 0 auto; width:inherit">
    {{ script|safe }}
  </main>

  <footer>
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </footer>
</body>
</html>
