{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.css" rel="stylesheet" type="text/css">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.css" rel=”stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'main/style.css' %}">
  <title>GHG TOOL</title>
</head>
<body>
  <header>
    <h1>Header</h1>
    <p> Development server URLs:</p>
    <ul>
      <li><a href="http://127.0.0.1:8000/population/">http://127.0.0.1:8000/population/</a></li>
      <li><a href="http://127.0.0.1:8000/stationary_energy/">http://127.0.0.1:8000/stationary_energy/</a></li>
      <li><a href="http://127.0.0.1:8000/mobile_energy/">http://127.0.0.1:8000/mobile_energy/</a></li>
      <li><a href="http://127.0.0.1:8000/non_energy/">http://127.0.0.1:8000/non_energy/</a></li>
      <li><a href="http://127.0.0.1:8000/grid_mix/">http://127.0.0.1:8000/grid_mix/</a></li>
    </ul>
  </header>
  <main>
    {% block main %}
      {{ script|safe }}

    {% endblock %}
    </div>
  </main>
  <footer>
    Footer
  </footer>
</body>
</html>
