{% extends 'main/base.html' %}

{% block header_intro %}

  <h3>Introduction</h3>

  <p class="header-paragraph">
  DVRPC’s Long Range Plan, Connections 2045, states a goal of reducing the region’s greenhouse gas (GHG) emissions to 80% of 2005 levels by 2050. This is in line with legislation passed by both Pennsylvania and New Jersey for GHG emissions reductions. Decarbonizing the Delaware Valley is an educational tool that will guide users through the drivers of annual GHG emissions in the region and which actions will have the most impact on decarbonizing Greater Philadelphia.
  </p>

  <p class="header-paragraph">
  Below you will see that the region's GHG emissions are attributed to several sectors. These are broadly grouped into stationary energy consumption (color #1), mobile energy consumption (color #2), and non-energy sources of emissions (color #3). Click on each sector’s icon to view a summary of the sector and the major drivers of emissions within that sector. Then manipulate the input devices to see how these drivers can influence regional GHG emissions.* 
  </p>

  <p class="header-paragraph">
  This tool analyzes emissions from DVRPC’s 2015 Energy Use and Greenhouse Gas Emissions Inventory for Greater Philadelphia. This inventory focuses on three major greenhouse gases: carbon dioxide (CO2), methane (CH4), and nitrous oxide (N2O). For more information on how DVRPC put together this inventory, please see Energy Use and Greenhouse Gas Emissions Inventory for Greater Philadelphia: Methods and Sources.
  </p>

  <p class="header-paragraph">
  Decarbonizing the Delaware Valley is educational for all, but the tool focuses on impacts that can be made at the local level. This emphasis includes policies and actions that local governments can take or support to encourage decarbonization and the possible benefits of decarbonization in each sector. By taking action on climate change, local governments can provide their residents with more safe, prosperous, sustainable, equitable, and livable communities For a more comprehensive list of possible actions and policies and their co-benefits, see the (forthcoming) Local Decarbonization Policy and Action Guidebook. 
  </p>

  <p class="header-paragraph">
  *This tool is for illustrative and educational purposes. While the general scale and direction of potential GHG reductions are reasonable, they are not calculated using the complex modeling seen in research being done by global scientific institutions. Many assumptions were made to simplify this tool and streamline its message. Please see the methodology document for a list of all assumptions made and how the tool calculates emissions changes.
  </p>

{% endblock %}
