{% extends 'main/base.html' %}

{% block header_intro %}

  <h3>Introduction</h3>

  <p>We are in a climate emergency.  According to <a href="https://www.climate.gov/news-features/understanding-climate/climate-change-global-temperature">the federal government</a>:</p>
  
  <blockquote>
  The 2-degree [°F] increase in global average surface temperature that has occurred since the pre-industrial era (1880-1900) might seem small, but it means a significant increase in accumulated heat. That extra heat is driving regional and seasonal temperature extremes, reducing snow cover and sea ice, intensifying heavy rainfall, and changing habitat ranges for plants and animals—expanding some and shrinking others.
  </blockquote>

  <p>Unless action is taken immediately to begin a drastic reduction in greenhouse gas emissions, the earth is predicted to continue to get hotter, producing a climate that will be increasingly challenging, with more extreme heat, higher sea levels, and more intense storms.</p>

  <p>DVRPC’s Long Range Plan, <a href="https://www.dvrpc.org/longrangeplan/">Connections 2045</a>, states a goal of reducing the region’s greenhouse gas (GHG) emissions to 80% of 2005 levels by 2050. This is in line with legislation passed by both Pennsylvania and New Jersey for GHG emissions reductions. Because carbon dioxide (CO₂), methane (CH₄) are the primary GHGs, reducing GHGs in our economy is often called “decarbonizing”.¹ Decarbonizing the Delaware Valley is an educational tool to help users understand what drives annual GHG emissions in the region and the impacts that various actions will have on reducing these emissions in Greater Philadelphia. DVRPC’s goal with this tool is to help residents understand what actions are most effective at reaching the deep reductions in GHG emissions needed to meet regional, state, and national goals.</p>

  <p>Below you will see that the region's GHG emissions are attributed to several sectors. These are broadly grouped into stationary energy consumption (color #1), mobile energy consumption (color #2), and non-energy sources of emissions (color #3). Click on each sector’s icon to view a summary of the sector and the major drivers of emissions within that sector. You can then adjust the key factors driving emissions to explore how each one influences regional GHG emissions.²</p>

  <p>This tool uses as a baseline the region’s GHG emissions in 2015, as documented in DVRPC’s 2018 publication <a href="https://www.dvrpc.org/Products/18018/">Energy Use and Greenhouse Gas Emissions Inventory for Greater Philadelphia</a>. This inventory focuses on three major greenhouse gases: carbon dioxide (CO₂), methane (CH₄), and nitrous oxide (N2O). For more information on how DVRPC carried out this inventory, please see <a href="https://www.dvrpc.org/Products/TM18023/">Energy Use and Greenhouse Gas Emissions Inventory for Greater Philadelphia: Methods and Sources</a>.</p>

  <p>Decarbonizing the Delaware Valley is primarily intended as an educational tool. However, it focuses on activities that can be undertaken at the local level. This includes policies and actions that local governments can take or support to encourage decarbonization and the possible benefits of decarbonization in each sector. By taking action on climate change, local governments can provide their residents with more safe, prosperous, sustainable, equitable, and livable communities For a more comprehensive list of possible actions and policies and their co-benefits, see the (forthcoming) Local Decarbonization Policy and Action Guidebook. </p>

  <hr>

  1. This tool will use “decarbonization” and “GHG emissions reduction” interchangeably, noting that there are some powerful GHGs that are not carbon-based.
  2. This tool is for illustrative and educational purposes. While the general scale and direction of potential GHG reductions are reasonable, they are not calculated using the complex modeling seen in research being done by global scientific institutions. Many assumptions were made to simplify this tool and streamline its message. Please see the methodology document for a list of all assumptions made and how the tool calculates emissions changes.

{% endblock %}
