{% extends 'main/base.html' %}

{% block header_intro %}

  <h3>Sector 9: Non-Energy Sources of Emissions</h3>

  <p>Non-energy sources of GHG emissions are those that do not derive from the combustion of fossil fuels for electricity generation or direct use in stationary or mobile applications. Non-energy sources of GHG emissions include industrial processes, waste management, agriculture processes, and land use, land-use change, and forestry (land use, land-use change, and forestry is covered more fully in Sequestration). In total, non-energy emissions sources accounted for almost 12% of gross emissions in the region.</p>
  
  <h4>Industrial Processes</h4>

  <p>Emissions from industrial processes are those that occur because of the chemical process or fugitive emissions due to the production, refining, transmission, or distribution of certain materials. These emissions are independent of the energy required to activate these processes. In this region, these processes include hydrogen production; iron and steel production; industrial wastewater treatment; ozone depleting substance substitutes; and petroleum and natural gas refining, transmission, and distribution. In 2015, these processes combined were responsible for almost 7% of regional emissions. </p>

  <p>Decarbonization of these industrial processes will be a big challenge. It will mostly require either:</p>
  <ol>
    <li>Carbon capture at the process site</li>
    <li>Investment in research for new methods of producing these substances in less carbon-intensive ways, or </li>
    <li>Reduction or stoppage of use. For instance, through extensive electrification efforts, the region may no longer require fossil fuels. There would then be no need to refine oil for use in petroleum products or to transmit and distribute natural gas, limiting methane leaks from natural gas pipelines. </li>
  </ol>

  <p>Using the slider on the right, see how decreases in industrial process emissions can affect regional GHG emissions. Also, be sure to slide electrification sliders in other sectors to see the relation of this sector to the fossil fuel industry. </p>

  <p>Industrial process improvements and reductions can improve environmental quality in general. Fewer processes, such as fuel refining, can greatly improve air and water quality by reducing contaminants, especially in environmental justice areas. This can also help reduce the overall toxic waste produced by these processes that can present safety concerns to local communities and wildlife.</p>

  <h4>Waste Management</h4>
  
  <p>Waste management includes both the management of solid waste (e.g., food waste, household garbage, and construction debris) and residential/commercial wastewater treatment (i.e., water disposed of through toilets, showers, sinks, etc.). </p>

  <p>Municipal solid waste management in landfills can result in the emission of CH4 due to the anaerobic decomposition of the organic matter in waste that takes place in landfills. Waste incineration and biogas plants are not included here, as they are accounted for in electricity generation (the heat from waste incineration is used to generate electricity). Municipal solid waste management in landfills accounted for 2.7% of regional GHG emissions in 2015.</p>

  <p>Wastewater treatment causes emissions of CH4 and N2O. CH4 emissions result from anaerobic treatment of organic matter and N2O emissions result from centralized wastewater treatment processes and from the effluent of centralized treatment systems discharged into aquatic environments. Only residential and commercial wastewater is included here, but industrial wastewater treatment is accounted for in industrial processes. Wastewater treatment accounted for 0.6% of regional GHG emissions in 2015.</p>

  <p>Decarbonization of waste management will require:</p>
  <ol>
    <li>Solid waste reduction through zero-waste and circular pathway initiatives that promote the reuse, upcycling, recycling, and composting of products and materials.</li>
    <li>Wastewater reduction through water reclamation projections and water conservation technologies and practices.</li>
    <li>Operational and efficiency improvements for treating solid waste and wastewater to minimize methane and nitrous oxide emissions, and capture methane for productive use.</li>
  </ol>

  <p>Use the sliders on the right to explore how reducing per capita waste and wastewater can reduce regional GHG emissions.</p>

  <p>Measures to reduce and prevent GHG emissions from solid waste and wastewater contribute many additional benefits to our communities. Waste reduction and recycling can help to conserve our natural resources, eliminating air, water, and other environmental contaminants through resource extraction and manufacture. Water conservation and green stormwater programs can also help to improve water quality, reduce nuisance flooding, and improve air quality. Recycling and composting programs produce more jobs than waste disposal. Finally, zero waste programs can promote social equity. Instead of disposed of, leftover food can be redistributed and donated to those in need. Finally, less waste means less need for more landfills and waste incinerators. These tend to be sited near environmental justice communities, further deteriorating air quality for residents.</p>

  <p>For more information on how DVRPC supports solid waste and wastewater programs, please visit the <a href="https://www.dvrpc.org/environment">Office of Environmental Planning</a>, specifically their <a href="https://www.dvrpc.org/waterquality">Water Quality Programs</a>.</p>

  <h4>Agriculture</h4>

  <p>A variety of agricultural activities and processes result in the production of CH4 and N2O. In the DVRPC region, we consider the following sources of agricultural emissions:</p>
  
  <ul>
    <li>Enteric fermentation is the process by which methane is emitted as a byproduct of digestion in ruminant animals like cows and sheep (i.e. cow burps).</li>
    <li>Manure management—both CH4 and N2O are emitted from the anaerobic digestion of manure stockpiles</li>
    <li>Soil management—nitrogen-based fertilizers cause increased formation of nitrous oxide in soils. Some soil management practices can also release carbon dioxide that would otherwise remain stored in soils. </li>
  </ul>

  <p>In 2015, agricultural activities accounted for 0.5% of regional GHG emissions.</p>
  
  <p>Decarbonization of agriculture will require a change in agricultural processes, including:</p>
  
  <ol>
    <li>Dietary changes for livestock, which can reduce methane emissions due to enteric fermentation as well as nitrous oxide emissions from livestock waste.</li>
    <li>Treatment of manure to reduce the formation of nitrous oxide.</li>
    <li>Adoption of regenerative agricultural or soil health practices, such as no-till farming and the use of various cover crops, can keep carbon stored in soils.</li>
    <li>Fertilizer use reduction as well as changes in fertilizer application timing and practices.</li>
  </ol>

  <p>Use the slider on the right to explore how reducing emissions from agriculture impacts the region’s overall GHG emissions.</p>

  <p>Decarbonizing the agricultural sector can have many other benefits. Regenerative agricultural practices can provide much healthier agricultural areas. Soils retain more nutrients by practicing no-till farming and cover cropping. Some programs are paying farmers to use these practices to store more carbon, adding needed revenue streams to struggling farmers. Finally, changes in livestock feeding, manure management, and fertilizer reduction can improve local environments, air and water quality. </p>
 
{% endblock %}

{% block endnotes %}
  <hr>
  <p>1. Landfill decomposition also produces CO2 as carbon is released from organic materials. This CO2 is considered biogenic, resulting from the Earth’s natural carbon cycle, and not a result of the release of long-sequestered carbon in fossil fuels like coal, petroleum, and natural gas. Consistent with national and international conventions, DVRPC does not include these CO2 emissions from decomposition of waste in landfills in its calculation of emissions.</p>
  <p>2. Though CO2 is also produced during wastewater treatment, consistent with national and international conventions DVRPC does not include these CO2 emissions from decomposition of waste in its calculation of emissions.</p>

{% endblock %}
