{% extends 'main/base.html' %}

{% block header_intro %}

  <h3> Sector 4: Non-Residential Energy Use - 37.1% of Total</h3>

  Non-Residential energy use encompasses all forms of stationary energy not used for residential purposes. This is primarily commercial and industrial energy use, but it also includes institutional energy use, such as energy used for municipal buildings and street lighting. Commercial and industrial energy use includes lighting, space and water heating, and any electrical equipment used in commercial and industrial buildings along with energy consumed to provide the heat used in industrial processes. Non-residential stationary energy use contributed over 37 percent of regional greenhouse gas emissions in 2015, with emissions from natural gas and the fuels used to generate electricity being the largest contributors.¹

  <p>Attaining net-zero greenhouse gas emissions in non-residential energy will require achieving two major goals:</p>
  
  <ol>
    <li>Reducing energy consumption through energy conservation and energy efficiency upgrades, and</li>
    <li>Electrifying everything in both the commercial and industrial sectors. Local governments and businesses can all take steps to reduce the use of fossil fuels for energy by switching to electric end uses while continuing to work toward decarbonizing the electricity grid mix. Electrification in the commercial sector can be accomplished using similar methods as in the residential sector—by switching to heat pumps, electric ranges, and electric water heating. Electrifying some aspects of the industrial sector will be difficult.  Some industrial equipment has a high initial cost and a long life span, so replacement with electric alternatives can take several decades. Electricity is also more expensive per Btu than fossil fuels for direct heating applications, so industry has little incentive to convert using some currently available technologies.</li>
  </ol>

  <p>Move the sliders on the right to see how achieving these goals will affect greenhouse gas emissions in the region.</p>

  <p>Much like the residential sector, the activities needed to reduce GHG emissions from commercial and industrial buildings provides many benefits for the region. For commercial businesses and municipal governments, energy efficiency improvements can reduce operational energy costs. Electrification also provides safety benefits by reducing the possibility of carbon monoxide poisoning and other possible hazards due to fossil fuels. Finally, local air quality and water quality, especially near industrial sites, can greatly improve with electrification, protecting both local residents and local flora and fauna.</p>

  <p>For more information on how DVRPC is promoting energy efficiency for local governments, please visit our pages on Municipal Energy Management, the Regional Street Light Procurement Program, and Profiles in Energy Efficiency.</p>

{% endblock %}
{% block endnotes %}
  <hr>

  <p>1. Note that emissions from electricity generation are assigned to the locations where the electricity is used, not generated. For more information, please see <a href="https://www.dvrpc.org/Products/TM18023/">Energy Use and Greenhouse Gas Emissions Inventory for Greater Philadelphia: Methods and Sources</a>.</p>

{% endblock %}
