{% extends 'main/base.html' %}

{% block header_intro %}

  <h3> Sector 4: Non-Residential Energy Use - 37.1% of Total</h3>

  <p class="header-paragraph">
  Non-Residential energy use encompasses all forms of stationary energy not used for residential purposes. This mostly falls into commercial and industrial energy use, but it also includes institutional energy use, such as energy used for municipal buildings and street lighting. Commercial and industrial energy use would include lighting, space and water heating, and any electrical appliances used in commercial and industrial buildings along with energy consumed to provide the heat that activates industrial processes. Non-residential stationary energy use contributed over 37 percent of regional greenhouse gas emissions in 2015, with emissions from natural gas and electricity being the largest contributors. 
  </p>

  <p class="header-paragraph">
  Attaining net-zero greenhouse gas emissions in non-residential energy will require governments and businesses to pursue two major goals: 
  Reducing energy consumption through energy conservation and energy efficiency upgrades, and 
  Electrifying everything in both the commercial and industrial sectors. Local governments and businesses can all take steps to reduce dependence on fossil fuels for energy by switching to electric end uses while continuing to promote decarbonization of the electricity grid mix. Electrification in the commercial sector can be accomplished using similar methods as the residential sector - by switching to heat pumps, electric ranges, and electric water heating. Electrification of the industrial sector will be more difficult. Industrial technology has a high initial cost and a long life span, so replacement with electric alternatives can take several decades. The electricity needed to power that equipment is also more expensive per Btu than fossil fuels, so industry has little appetite to convert. 
  </p>

  <p class="header-paragraph">
  Move the sliders to the right to see how achieving these goals will affect greenhouse gas emissions in the region. 
  </p>

  <p class="header-paragraph">
  Much like the residential sector, commercial and industrial building decarbonization provides many benefits beyond GHG emissions reductions. For commercial businesses and municipal governments, energy efficiency improvements can reduce operational energy costs. Electrification also provides safety benefits by reducing the possibility of carbon monoxide poisoning and other possible hazards due to fossil fuels. Finally, local air quality and water quality, especially near industrial sites, can greatly improve with electrification, protecting both local residents and local flora and fauna. 
  </p>

  <p class="header-paragraph">
  For more information on how DVRPC is promoting energy efficiency for local governments, please visit our pages on Municipal Energy Management, the Regional Street Light Procurement Program, and Profiles in Energy Efficiency.
  </p>

{% endblock %}
