{% extends 'main/base.html' %}

{% block header_intro %}

  <h3>Sector 9: Non-Energy Sources of Emissions - 11.8% of Total, -2.3% of Total Sequestered</h3>
  
  <p class="header-paragraph">
  Non-energy sources of emissions are those that do not relate to the combustion of fossil fuels for electricity generation or direct use in stationary or mobile applications. Non-energy sources of emissions include industrial processes, waste management, agriculture processes, and land use, land-use change, and forestry (land use, land-use change, and forestry is covered more fully in Sequestration). In total, non-energy emissions sources accounted for almost 12% of gross emissions in the region.
  </p>
  
  <h4>Industrial Processes - 6.87 % of Total</h4>
  <p class="header-paragraph">
  Emissions from industrial processes are those that occur because of the chemical process involved in the production, refining, transmission, or distribution of certain material. These emissions are independent of the energy required to activate these processes. In this region, these processes include hydrogen production; iron and steel production; industrial wastewater treatment; oxygen depleting substance substitutes; and petroleum and natural gas refining, transmission, and distribution. In 2015, these processes combined were responsible for almost 7% of regional emissions. 
  </p>

  <p class="header-paragraph">
  Decarbonization of these industrial processes will be a big challenge. It will mostly require either:
  Carbon capture at the process site
  Investment in research for new methods of producing these substances in less carbon-intensive ways, or 
  Reduction or stoppage of use. For instance, through extensive electrification efforts, the region may no longer require fossil fuels. There would be no need to refine oil for use in petroleum products or transmit and distribute natural gas, limiting methane leaks from natural gas pipelines. 
  </p>

  <p class="header-paragraph">
  Using the slider to the right, see how decreases in industrial process emissions can affect regional GHG emissions. Also, be sure to slide electrification sliders in other sectors to see the relation of this sector to the fossil fuel industry. 
  </p>

  <p class="header-paragraph">
  Industrial process improvements and reductions can improve environmental quality in general. Fewer processes, such as fuel refining, can greatly improve air and water quality by reducing contaminants, especially in environmental justice areas. This can also help reduce the overall toxic waste produced by these processes that can present safety concerns to local communities and wildlife.
  </p>
  
  <h4>Waste Management - 3.3% of Total</h4>
  
  <p class="header-paragraph">
  Waste management includes both the management of solid waste (e.g. food waste and household garbage) and residential/commercial wastewater treatment (i.e. water disposed of through toilets, showers, sinks, etc.). 
  </p>

  <p class="header-paragraph">
  Municipal solid waste management in landfills can result in the emission of CH4 due to the anaerobic decomposition of the organic matter in waste that takes place in landfills. Waste incineration and biogas plants are not included here, but they are accounted for in electricity generation. Municipal solid waste management in landfills accounted for 2.7% of regional GHG emissions in 2015.
  </p>

  <p class="header-paragraph">
  Wastewater treatment causes emissions of CH4 and N2O. CH4 emissions result from anaerobic treatment of organic matter and N2O emissions result from centralized wastewater treatment processes and from the effluent of centralized treatment systems discharged into aquatic environments. Only residential and commercial wastewater is included here, but industrial wastewater treatment is accounted for in industrial processes. Wastewater treatment accounted for 0.6% of regional GHG emissions in 2015.
  </p>

  <p class="header-paragraph">
  Decarbonization of waste management will require:
  Solid waste reduction through zero-waste and circular pathway initiatives that promote the reuse, upcycling, recycling, and composting of products and materials.
  Wastewater reduction through water reclamation projections and water conservation technologies and practices.
  Operational and efficiency improvements for treating solid waste and wastewater to minimize methane and nitrous oxide emissions.
  </p>

  <p class="header-paragraph">
  Move the sliders to the right to explore how reducing per capita waste and wastewater can reduce regional GHG emissions.
  </p>

  <p class="header-paragraph">
  Measures to reduce and prevent solid waste and wastewater contribute many benefits beyond GHG emissions reductions to our communities. Waste reduction and recycling can help to conserve our natural resources, eliminating air, water, and other environmental contaminants through resource extraction and manufacture. Water conservation and green stormwater programs can also help to improve water quality, reduce nuisance flooding, and improve air quality. Recycling and composting programs produce more jobs than waste disposal. Finally, zero waste programs can promote social equity. Leftover food, instead of disposed of, can be redistributed and donated to those in need. Finally, less waste means less need for more landfills and waste incinerators. These tend to be sited near environmental justice communities, further deteriorating air quality for residents.
  </p>

  <p class="header-paragraph">
  For more information on how DVRPC supports solid waste and wastewater programs, please visit the Office of Environmental Planning, specifically their Water Quality Programs.
  </p>


  <h4>Agriculture - 0.5% of Total</h4>

  <p class="header-paragraph">
  A variety of agricultural activities and processes result in the production of CH4 and N2O. In the DVRPC region, we consider the following sources of agricultural emissions:
  Enteric fermentation is the process by which methane is emitted as a byproduct of digestion in ruminant animals like cows and sheep (i.e. cow burps).
  Manure management - both CH4 and N2O are emitted from the anaerobic digestion of manure stockpiles
  Soil management -  nitrogen-based fertilizers cause increased formation of nitrous oxide in soils. Some soil management practices can also release carbon dioxide that was previously stored in soils. 
  </p>

  <p class="header-paragraph">
  In 2015, agricultural activities accounted for 0.5% of regional GHG emissions.
  </p>

  <p class="header-paragraph">
  Decarbonization of agriculture will require a change in agricultural processes, including:
  Dietary changes for livestock, which can reduce methane emissions due to enteric fermentation and nitrous oxide emissions from livestock waste.
  Treatment of manure to reduce the formation of nitrous oxide.
  Adoption of regenerative agricultural or soil health practices, such as no-till farming and the use of various cover crops, can keep carbon stored in soils.
  Fertilizer use reduction as well as changes in fertilizer application timing and practices 
  </p>

  <p class="header-paragraph">
  Move the slider to the right to explore how reducing emissions from agriculture impacts the region’s overall GHG emissions.
  </p>

  <p class="header-paragraph">
  Brief Co-Benefits and Vision Summary
  Decarbonizing the agricultural sector can have many other benefits. Regenerative agricultural practices can provide much healthier agricultural areas. The soils retain more nutrients by practicing no-till farming and cover cropping. Some programs are paying farmers to use these practices to store more carbon, adding needed revenue streams to struggling farmers. Finally, changes in livestock feeding, manure management, and fertilizer reduction can improve local environments, air and water quality. 
  </p>

{% endblock %}
