{% extends 'main/base.html' %}

{% block header_intro %}

  <h3>Sector 5: On-road Motor Vehicles</h3>
  
  <p>On-road Motor Vehicles refer to any vehicle that uses a motor to travel along roadways. The largest contributor of greenhouse gas emissions to this sector is personal passenger vehicles. Other contributors include medium- and heavy-duty trucks and buses. In 2015, on-road motor vehicles accounted for almost 24% of total regional greenhouse gas emissions, which was over three-quarters of greenhouse gas emissions from mobile energy use (see Other Mobile Energy Use sector below).</p>

  <p>Methods to reduce emissions from on-road motor vehicles include the following:</p>
  
  <ol>
    Reduce how much people drive. Reducing how much people drive, also called vehicle miles traveled (VMT), can be accomplished in various ways: more compact land use development that reduces distances between residential areas, workplaces, and essential services and amenities; carpooling; switching from private passenger vehicles to transit, passenger rail, cycling, and walking; and telecommuting. Reducing driving is often seen as the most beneficial strategy, as it has many co-benefits. Roads designed to limit car trips and encourage walking, cycling, and transit trips decrease congestion and create safer streets for all. 
    In the short term, increase the fuel efficiency of internal combustion engine vehicles
    In the short and long term, electrify on-road motor vehicles.
  </ol>
  <p>Move the sliders on the right to explore how the three strategies above can influence greenhouse gas emissions from the region. Note that the setting of population and development patterns sliders explored previously also affects emissions from this sector. </p>

  <p>Decarbonizing on-road motor vehicles through VMT reduction and vehicle electrification can improve our region in a variety of ways. These co-benefits can be grouped into several broad categories: health, safety, livability, and economy. </p>

  <p>VMT reduction provides many health benefits, especially when paired with increases in active transportation (walking, biking, etc.). Active transportation leads to more exercise and healthier people. VMT reduction and vehicle electrification both work to improve air quality significantly. Electrifying medium- and heavy-duty vehicles particularly improves air quality, as they typically use more energy per mile and are more challenging to electrify. </p>

  <p>Fewer vehicles traveling shorter distances leads to safer streets for pedestrians and cyclists. In general, cycling, walking, and transit are much safer ways to commute. VMT reductions combined with streetscape improvements and smart growth policies can drastically reduce death and injury from vehicle crashes.</p>

  <p>VMT reduction and vehicle electrification also improve livability. Switching to other modes of transportation can reduce commuting times and overall traffic congestion, allowing residents to spend less time in their vehicles and more time with their friends and families. The noise level of EVs is dramatically lower than internal combustion engine vehicles, improving livability for those living near major roadways as well as making for a quieter ride, particularly important for professional drivers, public transit buses, and school buses.</p>

  <p>Switching to other modes of transportation and/or to an EV can save on household transportation costs. Many urban residents can live without a car, relying on cycling, walking, transit, ride share, and car share options. This means no maintenance, fueling, or car insurance costs. EVs, while more expensive upfront (for now), have much lower operating and maintenance costs, and fueling is almost always done either at home or work. </p>

  <p>DVRPC has a host of resources related to making the region’s transportation network safer and more efficient through VMT reduction and vehicle electrification. For more information on VMT reduction, mode switching, and safety, visit DVRPC’s <a href="https://www.dvrpc.org/transportation">Transportation programs and projects site</a>. For more on electric vehicles, please see DVRPC’s <a href="https://www.dvrpc.org/energyclimate/alternativefuelvehicles">Alternative Fuel Vehicles page</a>.</p>

{% endblock %}
