{% extends 'main/base.html' %}

{% block header_intro %}

  <h3>Sector 5: On-road Motor Vehicles - 23.8%</h3>

  <p class="header-paragraph">
  On-road Motor Vehicles refer to any vehicle that uses a motor to travel along roadways. The largest contributor of greenhouse gas emissions to this sub-sector is personal passenger vehicles but other contributors include medium-and-large-duty trucks and buses. In 2015, on-road motor vehicles accounted for almost 24% of total regional greenhouse gas emissions, which was over three-quarters of greenhouse gas emissions from mobile energy use.
  </p>

  <p class="header-paragraph">
  Methods for reducing emissions from on-road motor vehicles will require the following:
  Reduce vehicle miles traveled (VMT). This can be accomplished in various ways: more compact land use development that reduces distances between residential areas and essential services and amenities; carpooling; switching from passenger vehicles to transit, passenger rail, cycling, and walking; and telecommuting. This is often seen as the most beneficial strategy, as it has many co-benefits such as decreased congestion and increased safety due to fewer total vehicles on the road. 
  In the short term, increase the fuel efficiency of motor vehicles
  In the short and long term, electrify on-road motor vehicles.
  </p>

  <p class="header-paragraph">
  Move the sliders to the right to explore how the three strategies above can influence greenhouse gas emissions from the region. Note that population and development patterns sliders explored previously also affect emissions from this sector. 
  </p>

  <p class="header-paragraph">
  Decarbonizing on-road motor vehicles through VMT reduction and vehicle electrification can improve our region in a variety of ways. These co-benefits can be bunched into several broad categories: health, safety, livability, and economy. 
  </p>

  <p class="header-paragraph">
  VMT reduction provides many health benefits, especially when paired with increases in active transportation modes (walking, biking, etc.). Active transportation modes lead to more exercise and healthier people. VMT reduction and vehicle electrification both work to significantly improve air quality. Electrifying medium-and-heavy-duty vehicles particularly improves air quality, as they typically burn the most polluting fuels (diesel). 
  </p>

  <p class="header-paragraph">
  Fewer vehicles traveling shorter distances leads to safer streets for pedestrians and cyclists. In general, cycling, walking, and transit are much safer ways to commute. VMT reductions combined with streetscape improvements and smart growth policies can drastically reduce death and injury from vehicle crashes.
  </p>

  <p class="header-paragraph">
  VMT reduction and vehicle electrification also improve livability. Switching to other modes of transportation can reduce commuting times and overall traffic congestion, allowing residents to spend less time in their vehicles and more time with their friends and families. Noise pollution is drastically lower in EVs, improving livability for those living near major roadways. 
  </p>

  <p class="header-paragraph">
  Switching to other modes of transportation and/or to an EV can save on household transportation costs. Many urban residents can live without a car, relying on cycling, walking, transit, and car share options. This means no maintenance, fueling, or car insurance costs. EVs, while still more expensive upfront (for now), have much lower operation and maintenance costs, and fueling is almost always done either at home or work. 
  </p>

  <p class="header-paragraph">
  DVRPC has a whole host of resources related to making the region’s transportation network safer and more efficient through VMT reduction and vehicle electrification. For more information on VMT reduction, mode switching, and safety, visit DVRPC’s Transportation programs and projects site. For more on electric vehicles, please see DVRPC’s Alternative Fuel Vehicles page. 
  </p>

{% endblock %}
