{% extends 'main/base.html' %}

{% block header_intro %}

  <h3>Sector 1: Population and Development Patterns</h3>

  <p class="header-paragraph">
  Climate change is a result of greenhouse gas emissions caused by human activity. The more humans living, working, and playing in a region, the more greenhouse gases are typically emitted from that region. However, where and how those humans live within the region can have noticeable effects on GHG emissions. 
  </p>

  <p class="header-paragraph">
  Urban residents emit far fewer greenhouse gases on average than their suburban and rural counterparts. This is due to many factors. Urbanites tend to live in smaller housing units, requiring less energy to heat and cool. They also live closer to job centers and to essential services like grocery stores, pharmacies, doctors’ offices, and schools. This enables them to drive single-occupancy vehicles less, relying more on walking, biking, and transit. 
  </p>

  <p class="header-paragraph">
  Below, you’ll see the 2015 percentage of the regional population living in each community type: urban, suburban, and rural. Change the percentages to see how where people live affects regional greenhouse gas emissions. Use the slider to view how population growth or decline can change regional emissions.
  </p>

  <p class="header-paragraph">
  While not every municipality wishes to become an urban core city, suburban and rural towns can take actions that would lower the GHG emissions profiles of their residents. Municipalities can aspire to increase the proximity of their residents to everything they need. Essential services should be within an easy walk or bike ride. Longer trips, perhaps to job centers, should be accessible by frequent and reliable transit service without the need for vehicle ownership. Localities can implement smart growth principles in their planning initiatives in order to achieve emissions reductions. Some of these smart growth strategies include:
  Allowing dense residential development with a mix of housing types
  Achieving complete neighborhoods by adopting transit-oriented development and mixed-use, land use policies to increase the proximity of suburban and rural residential areas and essential services.
  </p>

  <p class="header-paragraph">
  For more information on how to implement smart growth principles, please visit DVRPC’s Office of Smart Growth webpage.
  </p>

  <p class="header-paragraph">
  Smart growth policies have many benefits beyond decarbonization and GHG emissions reductions. By promoting these policies in urban, suburban, and rural areas, all regional citizens will have the chance to live in complete neighborhoods, with each neighborhood being within a 10-15 minute walking or cycling trip to all essential services. These types of neighborhoods promote pedestrian and cyclist safety through fewer vehicle conflicts and cleaner air and water. Suburban and rural communities especially can use smart growth policies to connect their residents to nature-based recreation opportunities without the need for private cars. Finally, these neighborhoods can lead to cost savings for families as energy costs are lower, one can forego private vehicle ownership, and a healthier lifestyle can reduce healthcare costs. 
  </p>

{% endblock %}
