{% extends 'main/base.html' %}

{% block header_intro %}

  <h3>Sector 1: Population and Development Patterns</h3>

  <p>The rapid climate change we are experiencing is a result of greenhouse gas emissions caused by human activity. All else equal, the more people living, working, and playing in a region, the more greenhouse gases are typically emitted from that region. However, where and how those humans live within a region can have noticeable effects on GHG emissions.</p>

  <p>The activities of urban residents emit far fewer greenhouse gases on average than those of their suburban and rural counterparts. This is due to many factors. Urbanites tend to live in smaller housing units (often with shared walls or ceilings) that require less energy to heat and cool. They also live closer to job centers and to essential services like grocery stores, pharmacies, doctors’ offices, and schools. This enables them to drive single-occupancy vehicles shorter distances, and rely more on walking, biking, and transit.</p>

  <p>Below, you’ll see the 2015 percentage of the regional population living in each community type: urban, suburban, and rural. Change the percentages to see how where people live affects regional greenhouse gas emissions. Use the slider to view how population growth or decline can change GHG emissions in our region.</p>

  <p>While not every municipality wishes to become an urban core city, suburban and rural towns can take actions to lower the GHG emissions profiles of their residents. Municipalities can aspire to increase the proximity of their residents to everything they need. Essential services should be within an easy walk or bike ride. Longer trips, perhaps to job centers, should be accessible by frequent and reliable transit service to reduce the need for vehicle use. Localities can implement smart growth principles in their planning initiatives in order to achieve emissions reductions. Some of these smart growth strategies include:</p>
  <ul>
    <li>Allowing dense residential development with a mix of housing types</li>
    <li>Achieving complete neighborhoods by adopting transit-oriented development and mixed-use, land use policies to increase the proximity of suburban and rural residential areas and essential services. These neighborhoods should also:</li>
    <ul>
      <li>Improve sidewalks and crosswalks to make walking easier.</li>
      <li>Improve bike facilities, such as bike lands and bike racks.</li>
      <li>Improve transit facilities by providing shade and rain protection at stops and stations.</li>
    </ul>
  </ul>

  <p>For more information on how to implement smart growth principles, please visit <a href="https://www.dvrpc.org/smartgrowth">DVRPC’s Office of Smart Growth webpage.</a></p>

  <p>Smart growth policies have many benefits beyond decarbonization. By promoting these policies in urban, suburban, and rural areas, everyone in the region will have the chance to live in a neighborhood within a 10-15 minute walk or bike ride to most essential services. These types of neighborhoods promote pedestrian and cyclist safety through fewer vehicle conflicts and cleaner air and water. Suburban and rural communities especially can use smart growth policies to connect their residents to nature-based recreation opportunities without the need for private cars. Finally, these neighborhoods can lead to cost savings for families as energy costs are lower, private vehicle ownership costs are less, and a healthier lifestyle can reduce healthcare costs.</p>

{% endblock %}
