{% extends 'main/base.html' %}

{% block header_intro %}

  <h3>Sector 7: Rail - 0.6%</h3>

  <p class="header-paragraph">
  Rail is a great alternative to more carbon-intensive modes of transportation, including personal automobiles and air travel. An increase in rail ridership and usage can benefit GHG emissions reduction efforts in the transportation sector as a whole. DVRPC has identified three types of rail travel in the region: transit, inter-city, and freight. As of 2015, they account for 0.2%, 0.1%, and 0.3% of regional GHG emissions respectively. Transit rail includes emissions from rail travel from SEPTA, NJ TRANSIT, and PATCO used for commuting throughout the region. Inter-city rail travel emissions are from Amtrak travel that passes through the region. Freight rail is used to move cargo into and out of the region. Together, rail usage makes up 0.6% of regional emissions. 
  </p>

  <p class="header-paragraph">
  In the short term, the region may see an increase in rail emissions in order to see greater emissions reductions in other sectors, namely on-road motor vehicles and aviation. However, to achieve a net-zero emissions region, decarbonization of the rail sector will be necessary and will require:
  Electrification of all rail propulsion systems,
  Reducing energy use by enhancing railcar mechanical efficiency and reducing overall consumption through programmatic and behavioral changes while driving.
  </p>

  <p class="header-paragraph">
  Use the sliders to the right to see how electrification and overall usage of each rail travel type affect regional GHG emissions. Note that electrification of this sector, particularly for transit rail, is well underway as of 2015. 
  </p>

  <p class="header-paragraph">
  Decarbonization of all rail has many benefits, especially when paired with higher usage. More people using transit rail could result in transit agencies using the extra revenue to improve the frequency and reliability of service. This will also improve safety for pedestrians and cyclists by getting more vehicles off the roads. An increase in freight rail usage, combined with electrification efforts, can result in fewer heavy-duty vehicles on the roads, cutting air pollution from some of the road’s heaviest polluters. Finally, increases in ridership can provide investments to create high-speed, reliable, inter-city rail service, making travel cheaper and more convenient than driving or flying the same distances. 
  </p>

  <p class="header-paragraph">
  For more information on how DVRPC supports rail planning, see sites Transit Planning and Freight Planning.
  </p>

{% endblock %}
