{% extends 'main/base.html' %}

{% block header_intro %}

  <h3> Sector 3: Residential Energy Consumption - 20.4% of Total</h3>
  
  <p class="header-paragraph">
  Residential energy consumption refers to the energy consumed in the home. This includes fuels directly combusted for space and water heating and cooking and the electricity that powers air conditioning, lighting, and other appliances. Residential stationary energy use contributed over 20 percent of regional greenhouse gas emissions in 2015, with emissions from natural gas and electricity being the largest contributors. 
  </p>

  <p class="header-paragraph">
  Attaining net-zero greenhouse gas emissions in the residential energy sector will be tough. It will require governments and residents to pursue two major goals:
  Reducing energy consumption through energy conservation and energy efficiency upgrades, and 
  Electrifying everything in the home. This will be a common theme through this tool. We will never stop emitting greenhouse gases if we continue to burn fossil fuels for energy. Local governments, businesses, and residents can all take steps to reduce dependence on fossil fuels for energy by switching to electric end uses while continuing to promote decarbonization of the electricity grid mix. Examples of end uses to electrify in the home are replacing gas or oil furnaces with heat pumps and replacing gas ranges with electric ranges.
  </p>

  <p class="header-paragraph">
  Move the sliders to the right to see how achieving these goals will affect greenhouse gas emissions in the region. 
  </p>

  <p class="header-paragraph">
  Residential building decarbonization provides a host of benefits for the region’s households. Electrifying home end uses like space heaters, water heaters, and kitchen ranges significantly improves indoor air quality, reducing asthma rates in children. Residents would also no longer need to worry about dangerous gases and chemicals leaking out, such as carbon monoxide. 
  Energy efficiency improvements in homes can drastically reduce energy bills by keeping homes cool in the summer and warm in the winter. Residential energy efficiency and electrification campaigns also create jobs, benefiting the local economy. Through energy efficiency and electrification, regional residents can live in healthier homes for less money and create good-paying, local jobs.
  </p>

{% endblock %}
