{% extends 'main/base.html' %}

{% block header_intro %}

  <h3>Sector 10: Sequestration, -2.3% </h3>

  <p>As you have seen throughout this tool, decarbonizing all sectors in the Delaware Valley is a monumental task. Some sectors are incredibly hard to decarbonize, notably aviation and non-energy emissions. In order to get to net-zero emissions, the region will need to pull greenhouse gases out of the atmosphere. This can be done through land use strategies (e.g. increasing forested acreage) or through direct carbon capture using new technology. As of 2015, just over 2% of total regional emissions were sequestered, all through land use strategies.</p>
  
  <h4>Land Use, Land Use Change, and Forestry</h4>

  <p>Land use, land use change, and forestry (LULUCF) can be both a source and sink of carbon emissions in the region. Emissions result from changes in the amount of carbon stored in soil and plants due to land use and forestry practices (e.g., from clearing forest land for residential, commercial, or agricultural use). Both forested land and urban tree canopies can act as carbon sinks. In 2015, LULUCF sequestered 2.3% of gross regional emissions.</p>

  <p>Limiting carbon emissions from LULUCF and promoting sequestration will require:</p>
  <ol>
    <li>Preserving mature forests by limiting development on forested land</li>
    <li>Reforesting previously developed land</li>
    <li>Increasing tree plantings in both urban and suburban areas</li>
  </ol>

  <p>Use the sliders on the right to explore how increases in forest cover and urban tree canopies can sequester emissions in the region.</p>

  <p>Trees have many co-benefits beyond carbon sequestration. They improve physical and mental health, improve air quality, and reduce the urban heat island (UHI) effect. Reduced UHI means lower energy costs for air conditioning and safer summers for heat-vulnerable communities. Forest preservation protects entire ecosystems, retaining biodiversity. Biodiversity can in turn prevent the spread of future pandemic diseases.</p>

  <p>For more on how DVRPC works to reduce emissions from LULUCF, see our <a href="https://www.dvrpc.org/environment">Office of Environmental Planning</a>, which works on urban forestry plans, open space planning, and environmental protection.</p>
  
  <h4>Carbon Capture</h4>

  <p>Carbon capture, utilization, and storage (CCUS) - also known as carbon capture, utilization, and sequestration - is a process that captures carbon dioxide emissions directly from combustion sources (including power plants and industrial facilities) or from the atmosphere. This carbon dioxide is then re-used or stored in geologic formations. Carbon capture at the site of combustion and carbon capture from the air are both in the early stages of technological development.</p>

  <p>Increasing the amount of carbon capture both at the site of combustion and direct air capture will require:</p>
  <ol>
    <li>Extensive research and development</li>
    <li>Regulations and grant programs to mandate or encourage their use</li>
  </ol>

  <p>Use the sliders on the right to explore how increases in carbon capture technology can sequester carbon in the region.</p>

  <p>Carbon capture technologies are more a strategy of last resort for greenhouse gas emissions reductions. There are fewer co-benefits associated with CCUS compared to other strategies. On the contrary, large-scale deployment of this technology could increase energy consumption. However, there could be economic benefits from the Delaware Valley becoming a leader in the carbon capture space, including job creation. CCUS used in conjunction with biomass or biogas plants can also lead to carbon-negative solutions.</p>


{% endblock %}
